<section class="card" >
    {{!-- <a href="/{{id}}">New</a> --}}
    <header class="card-header" id="{{ id }}" >
        <h1 class="title">{{ name }}</h1>
        <h2 class="date">Posted by {{created_by}} on {{format_time createdAt }}</h2>
    </header>
    <p class="par-text">{{ text }}</p>
</section>