<section class="card" >
    <header class="card-header" id="{{ id }}">
        <h1 class="card-h1">{{ name }}</h1>
        <h2 class="card-h2">Posted by {{created_by}} on {{ created_on }}</h2>
    </header>
    <p class="par-text">{{ text }}</p>
</section>